node_modules/
.expo/
.expo-shared/
dist/
dist-check/
release/
release-*/
web-build/
coverage/
test-artifacts/
play-store-assets/
npm-debug.*
yarn-debug.*
yarn-error.*
*.log
*.err
*.jks
credentials.json
credentials/
android/
npmnpx
npx
.env
.DS_Store
--fetch-timeout=60000/
my-app/
supabase/.temp/

.vercel
